html {
  font-size: 12.25px;
  height: 100%;
  font-family: "roboto";
  scroll-behavior: smooth;
}

.terminal {
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 10.5px;
  height: 300px;
  padding-right: 0;
  padding-left: 0.5%;
  margin-bottom: 0;
  /* border: solid 1px; */
}

.terminal::-webkit-scrollbar {
  width: 2px;
  height: 20px;
}

.terminal::-webkit-scrollbar-thumb {
  background: #ddd;
  visibility: hidden;
  border-radius: 4px;
}
.terminal:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.ag-theme-alpine {
  --ag-font-size: 11px;
  --ag-grid-size: 4px;
  --ag-list-item-height: 50px;

  --ag-widget-container-horizontal-padding: 0;
  --ag-widget-horizontal-spacing: 0;
  --ag-cell-horizontal-padding: 3px;
}

.ag-theme-alpine-dark {
  --ag-font-size: 11px;
  --ag-grid-size: 4px;
  --ag-list-item-height: 50px;

  --ag-widget-container-horizontal-padding: 0;
  --ag-widget-horizontal-spacing: 0;
  --ag-cell-horizontal-padding: 3px;
  --ag-data-color: #dee2e6;
}
